body{
    background-color:#161b22;
    color: white;
}

.a{
    color: #58a6ff;;
}

.ul{
    margin: 0;
}
.main{
    background-color: #0d1117;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 10px;

}

.hederTop, .hederMiddle{
    margin-bottom: 10px;
}

.contentLeft  a{
text-decoration: none;
}

.contentLeft a:hover{
    text-decoration: underline;
}

.contentLeft .image{
    float: left;
    width: calc(20% - 10px);
    margin-right: 10px;

}
.contentLeft .newsInfo{
    float: left;
    width: 80%;
}

.clear{
    clear: both;
}
.contentRight{
    float: left;
    width: 35%;

}

.clear{
    clear: both;
}

.linksLeft{
    float: left;
}

.linksRight{
    float: right;
}
.clear{
    clear: both;
}

.linksRight ul li{
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}

.linksRight ul li:last-of-type{
    border-right: 0 none;
}

.hederMiddle .logoLeft,
.hederMiddle .logoCenter,
.hederMiddle .logoRight
{
float: left;
    width: 33.33%;
}

.hederMiddle .logoLeft img{
    width: 100%;
    max-width: 200px;
}

.hederMiddle .logoCenter{
    text-align: center;
}    

.hederMiddle .logoRight input{

    background-color: #0d1117;
    border-radius: 3px;
    border: 1px solid gray ;
}

.hederMiddle .logoCenter hi{
    line-height: 26px;
}

.hederMiddle .logoRight{
    text-align: right;
}
.clear{
    clear: both;
}

.searchField{
    position: relative;
}

.searchField i{
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
    cursor: pointer;
}

.listiLeft{
    float: left;
}

.listiRight{
    float: right;
}

.clear{
    clear: both;
}

.listiLeft ul li{
display: inline-block;
padding-left: 10px;
border-left: 1px solid white;
padding-left: 10px;
font-size: 22px;
padding-bottom: 1px;
text-align: center;
}

#vesti{
    background-color: blue;
    font-size: 24px;
}

.listiRight ul li{
    display: inline-block;
    padding-left: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}

.selected {
    font-size: 24px;
    background-color: blue;
    border-radius: 2px;
    text-align: center;
}

.sitelinkovi ul li{
    display: inline-block;
    margin-left: 35px;
    color:#c8d1d9;
    border-right-color: #30363d;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #192b44;
    border-color:#6b90da ;
    

}
.content{
    float: left;
    margin-right: 20%;
}


.reklami{
   float: right;
   margin-left: 50%;
   
}

.clear{
    clear: both;
}